@font-face {
  font-family: "Inter";
  src:
    local("Inter Bold"),
    local("Inter-Bold"),
    url("/fonts/inter/bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src:
    local("Inter Medium"),
    local("Inter-Medium"),
    url("/fonts/inter/medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src:
    local("Inter SemiBold"),
    local("Inter-SemiBold"),
    url("/fonts/inter/semibold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src:
    local("Inter Regular"),
    local("Inter-Regular"),
    url("/fonts/inter/regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
