---
import readingTime from "reading-time";
import removeMarkdown from "remove-markdown";

import { cn } from "@/lib/utils";

interface Props {
  class?: string;
  content: string;
}

const { class: className, content } = Astro.props as Props;

const rawContent = removeMarkdown(content);
const { minutes } = readingTime(rawContent);
---

{
  content.length > 0 && (
    <span class={cn("text-xs text-muted-foreground tabular-nums", className)}>
      {Math.round(minutes)} perc
    </span>
  )
}
